body {
    width: 420px;
    margin: 1px 0;
    user-select: none;
    background-color: #fff;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
}

.tools, #tools, .qs_wrapper,
#searchbox, div.hideicon,
div.separator.big span,
div.withfocus.open div.close {
    display: none;
}


.item {
    padding: 1px 0;
    cursor: default;
    transition: all .1s linear;
    border-bottom: none;
}

div.title {
    color: #000;
    margin: 0 28px 0 10px;
    background-color: transparent;
}

div.url {
    color: #a0a0a0;
    margin: 0 28px 0 10px;
    background-color: transparent;
}

div.tabimage img {
    padding: 0;
    margin: 7px 10px 0 10px;
    background-color: transparent;
}


.item.nourl {
    padding: 0;
    height: 24px;
}

.item.nourl div.title {
    padding-top: 0;
    line-height: 24px;
}

.item.nourl div.tabimage img {
    margin-top: 4px;
}


.withfocus {
    background-color: #e0e0e0;
}

.withfocus div.title {
    color: #000;
    background-color: transparent;
}

.withfocus div.url {
    color: #a0a0a0;
    background-color: transparent;
}


.item:hover {
    background-color: #f0f0f0;
}

.item:hover div.title {
    color: #000;
    background-color: transparent;
}

.item:hover div.url {
    color: #a0a0a0;
    background-color: transparent;
}


div.separator.big {
    height: 0;
    border-top: 1px solid #e0e0e0;
    border-bottom: none;
    padding: 0;
    margin: 4px 0;
}

.item.closed div.url {
    opacity: 0.8;
}

.item.closed div.title {
    color: gray;
}

.item.closed div.tabimage {
    opacity: 0.5;
}

.item.closed.withfocus div.title, div.item.closed:hover div.title {
    color: gray;
    background-color: transparent;
}


div.open:hover div.close, div.withfocus.open:hover div.close {
    display: block;
    background: none;
    width: auto;
    height: 100%;
}

div.close:before {
    content: '\2716';
    color: gray;
    margin-right: 4px;
    padding: 1px 4px;
    top: 25%;
    position: relative;
}

.item.nourl div.close:before {
    top: 20%;
}

div.close:hover::before {
    background-color: #e0e0e0;
    transition: background-color 400ms ease;
    border-radius: 10px;
}